@page
@model IndexModel
@{
    ViewData["Title"] = "Home - Coinpanion";
}

<style>
    .img-box {
        height: 150px; 
    }
</style>

<div class="container text-center">
    <h1 class="display-4">Welcome to Coinpanion</h1>
    <p>
        Coinpanion is your personal Expense Tracker web app. Easily manage and track your expenses with simplicity and efficiency.
    </p>

    
    <div class="row">
        <div class="col-md-2 mx-auto">
            <img src="/images/bills.png" alt="bills" class="img-fluid img-box">
        </div>
        <div class="col-md-2 mx-auto">
            <img src="/images/Coins.png" alt="Coins" class="img-fluid img-box">
        </div>
        <div class="col-md-2 mx-auto">
            <img src="/images/goals.png" alt="goals" class="img-fluid img-box">
        </div>
        <div class="col-md-2 mx-auto">
            <img src="/images/images.png" alt="images" class="img-fluid img-box">
        </div>
        <div class="col-md-2 mx-auto">
            <img src="/images/Piggy.png" alt="Piggy" class="img-fluid img-box">
        </div>
    </div>

    <p>
        <a href="/Privacy">Privacy Policy</a>
    </p>
</div>
